
.contentTitle{
    color: #2b66b6;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ', 'ËÎÌå', sans-serif;
}

.contentInfo{
    color: #808080;
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.contentPage{
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 20px;
}