.companyInfo{
    width: 840px;
    float: left;
    font-family: Tahoma, Geneva,"\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",sans-serif;
}

.basicInfo{
    /*background-color: #f0f8ff;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.companyNum{
    margin-top: 15px;
    background-color: #f0f8ff;
    padding-top: 10px;
    padding-bottom: 10px;
}


.companyLines{
    /*margin-bottom: 20px;*/
    padding-bottom: 20px;
    clear: both;
    /*border-bottom: 1px dotted ThreeDShadow;*/
}

.input{
    width: 700px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    /*height: 30px;*/
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.input, .inputShort{height: 30px; }

.inputLong{
    border-radius: 3px;
    border: 1px solid #cccccc;
    width: 700px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inputShort{width: 150px;}

.text{
    font-weight: normal;
    width: 90px;
    min-width: 90px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.companyPics{
    width: 850px;
    /*background-color: #f0f8ff;*/
    /*height: 300px;*/
    float: left;
    margin-left: 15px;
    /*border: 1px dotted #ff0000;*/
    /*text-align: center;*/
}

.companyLogo,.companyHomePic,.companyBigAd{
    width: 400px;
    /*height: 150px;*/
    /*margin-left: 5px;*/
    margin-right: 5px;
    /*margin-top: 5px;*/
    /*padding-top: 10px;*/
    /*padding-left: 15px;*/
    margin-bottom: 20px;
    /*background-color: #f0f8ff;*/
    float: left;
    /*vertical-align: text-bottom;*/
}

.companyLogo img{
    width: 160px;
    height: 100px;
    border: 1px solid white;
    vertical-align: bottom;
}
.companyLogo a, .companyHomePic a, .companyBigAd a{
    /*color: white;*/
    /*float: right;*/
    margin-right: 5px;
}

/*.companyLogo .fileInput{*/
    /*background-color: #4cae4c;*/
    /*border-color: #4cae4c;*/
/*}*/

.picTips{
    margin-bottom: 5px;
    color: #008b8b;
    font-weight: bold;
    margin-top: 10px;
}

.companyHomePic img{
    width: 240px;
    height: 80px;
    border: 1px solid #ebebeb;
}

.companyBigAd img{
    width: 240px;
    height: 80px;
}

#input-file {
    position: relative; /* 保证子元素的定位 */
    width: 120px;
    height: 30px;
    background: #eee;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
#text {
    display: inline-block;
    margin-top: 5px;
    color: #666;
    font-family: "黑体";
    font-size: 18px;
    cursor: pointer;
}
.fileInput {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px; /* 宽高和外围元素保持一致 */
    height: 30px;
    opacity: 0;
    -moz-opacity: 0; /* 兼容老式浏览器 */
    filter: alpha(opacity=0); /* 兼容IE */
}

.companyBigAd{
    clear: both;
    width: 800px;
}

#tabtag_4con table{
    float:left;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 16px;
    width: 700px;
    font-family: Tahoma, Geneva,"\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",sans-serif;
}

#tabtag_4con table tr td{
    border: 1px dashed #bbb;
    padding: 4px;
    text-align: left;
    width: 150px;
    height: 20px;
    font-weight: normal;
    font-size: 13px;
}

#tabtag_4con table  a{
    text-align: left;
}

#tabtag_4con table tr td,
#tabtag_4con table tr,
#tabtag_4con table{
    border-collapse: collapse;
}

#tabtag_4con .imageCol img{
    width: 240px;
    height: 80px;
}


#tabtag_4con table .newImage{
    width: 30px;
    height: 30px;
    cursor: hand;
}

#tabtag_4con table .imageCol{
    width: 300px;
    min-width: 300px;
}

#tabtag_4con table .pathCol{
    width: 200px;
    min-width: 200px;
}

#tabtag_4con table .editCol{
    width: 100px;
    min-width: 100px;
}

#tabtag_4con table input{
    width: 180px;
    border-radius: 4px;

}

#tabtag_4con ul li {
    float:left;
    clear:both;
    width:700px;
    font-size: 14px;
    list-style-type: none;
    margin-bottom: 10px;
}